<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hust.trade.transaction.mapper.AttendMapper">
  <resultMap id="BaseResultMap" type="com.hust.trade.transaction.model.Attend">
    <id column="attend_id" jdbcType="BIGINT" property="attendId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="message_id" jdbcType="BIGINT" property="messageId" />
  </resultMap>

  <sql id="Base_Column_List"> attend_id, user_id, message_id</sql>

  <select id="getAllAttendMessageByUserId" resultMap="BaseResultMap">
    SELECT attend_id, user_id, message_id FROM attend WHERE user_id= #{id} order by attend_id desc
  </select>
</mapper>